#!/usr/bin/bash

source ../../scripts/switch-terraform-version.sh
export TF_CLI_ARGS_init="-backend-config=role_arn=arn:aws:iam::311462405659:role/operator -upgrade -reconfigure"
export TF_VAR_default_role=operator
export TF_VAR_pagerduty_api_key=$(aws-vault exec mlpa-dev -- aws secretsmanager get-secret-value --secret-id "pagerduty_api_key" | jq -r .'SecretString')
export TF_VAR_container_version=$(aws-vault exec management-global -- aws ssm get-parameter --name "/modernising-lpa/container-version/production" --query 'Parameter.Value' --output text)
echo "Deploying Modernising LPA version: $TF_VAR_container_version"
source ../../scripts/pull-av-scan-zip-packages.sh
