.DS_Store
**/.terraform/
**/terraform.tfstate.d/
**/terraform/environment/region/modules/s3_antivirus/*.zip
**/terraform/environment/region/modules/s3_antivirus/*.zip.sha256sum
**/EICAR.txt
**/.infracost/

geckodriver.log
.vscode/
**__pycache__
**/environment_config.json

.structurizr
docs/architecture/dsl/**/workspace.json

.python-version
.pytest_cache
.coverage
.phpunit.result.cache
scripts/analysis_scripts/*.csv

query/s3_objects/**

**/coverage.out
**/node_modules
**/yarn-error.log
/cypress/downloads/*
/cypress/videos/*
/cypress/screenshots/*
/cypress/parallel-weights.json
multi-reporter-config.json
/runner-results
/web/static/*
**tmp/*
.idea/*
/app/tmp/*
/app/.air.toml
/logs/*
/pacts/*
/coverage/*

scripts/sbom_exporter/exports/*
scripts/sbom_exporter/tmp.*.json
