.DS_Store
**/.terraform/
**/terraform.tfstate.d/
**/.infracost/

geckodriver.log
.vscode/
**__pycache__
**/environment_config.json

.python-version
.pytest_cache
.coverage
.phpunit.result.cache
scripts/analysis_scripts/*.csv

query/s3_objects/**

**/coverage.out
**/node_modules
**/yarn-error.log
/cypress/videos/*
/cypress/screenshots/*
/cypress/parallel-weights.json
multi-reporter-config.json
/runner-results
/web/static/*
**tmp/*
