# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace.
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline.
      - id: check-added-large-files # prevents giant files from being committed.
        args: [ "--maxkb=20480" ]
      - id: check-case-conflict # checks for files that would conflict in case-insensitive filesystems.
      - id: check-json # Attempts to load all json files to verify syntax.
      - id: check-merge-conflict # checks for files that contain merge conflict strings.
      - id: check-yaml # checks yaml files for parseable syntax.
      - id: detect-private-key # detects the presence of private keys.
      - id: mixed-line-ending # replaces or checks mixed line ending.
        args: [ "--fix=auto" ]
      - id: no-commit-to-branch
        args:
        - --branch=main
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.76.0
    hooks:
      - id: terraform_fmt
      - id: tflint
        args:
          - --args=--recursive
          - --args=--config __GIT_WORKING_DIR__/.tflint.hcl

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt # Runs gofmt
      - id: go-imports # Runs gofmt
      - id: go-mod-tidy # Tidies up and removes unused requires in go.mod using go mod tidy
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 32.221.1
    hooks:
      - id: renovate-config-validator
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
