version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    depends_on:
      - localstack
      - sign-in-mock
      - pay-mock
    restart: on-failure
    ports:
      - "5050:8080"
    environment:
      - APP_PORT=8080
      - APP_PUBLIC_URL=http://localhost:5050
      - AUTH_REDIRECT_BASE_URL=http://localhost:5050
      - AWS_ACCESS_KEY_ID=fakeKeyId
      - AWS_BASE_URL=http://localstack:4566
      - AWS_REGION=eu-west-1
      - AWS_SECRET_ACCESS_KEY=fakeAccessKey
      - CLIENT_ID=client-id-value
      - DYNAMODB_TABLE_LPAS=lpas
      - GOVUK_NOTIFY_BASE_URL=http://notify-mock:8080
      - GOVUK_PAY_BASE_URL=http://pay-mock:4010
      - ISSUER=http://sign-in-mock:8080

  localstack:
    build:
      context: .
      dockerfile: ./localstack.Dockerfile
    ports:
      - "4566:4566"
    environment:
      - SERVICES=secretsmanager
      - DATA_DIR=/tmp/localstack/data
      - DEFAULT_REGION=eu-west-1
      - USE_SINGLE_REGION=1
      - DEBUG=1

  sign-in-mock:
    build:
      context: mocks/GOVUKSignIn
    container_name: sign-in-mock
    ports:
      - "7012:8080"
    environment:
      - PUBLIC_URL=http://localhost:7012
      - CLIENT_ID=client-id-value

  pay-mock:
    image: stoplight/prism:4.11.0
    command: 'mock /tmp/publicapi_spec.json -h 0.0.0.0'
    container_name: pay-mock
    ports:
      - '4010:4010'
    volumes:
      - ./mocks/GOVUKPay:/tmp

  notify-mock:
    build:
      context: mocks/GOVUKNotify
    container_name: notify-mock
    ports:
      - "8080:8080"
