{{ template "page" . }}

{{ define "pageTitle" }}{{ tr .App "youHaveDecidedNotToBeACertificateProvider" }}{{ end }}

{{ define "main" }}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{ tr .App "youHaveDecidedNotToBeACertificateProvider" }}</h1>

{{/*            {{ trFormatHtml .App "youHaveDecidedNotToBeACertificateProviderContent" "DonorFullName" .Lpa.Donor.FullName  }}*/}}
        </div>
    </div>
{{ end }}
