{{ template "page" . }}

{{ define "pageTitle" }}{{ tr .App "accessibilityStatementForMakeAndRegister" }}{{ end }}

{{ define "main" }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ tr .App "accessibilityStatementForMakeAndRegister" }}</h1>

      {{ trHtml .App "accessibilityStatementContent" }}
    </div>
  </div>
{{ end }}
