{{ template "page" . }}

{{ define "pageTitle" }}{{ tr .App "whatHappensNext" }}{{ end }}

{{ define "main" }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ tr .App "whatHappensNext" }}</h1>

      {{ trFormatHtml .App "whatHappensNextContent" "DonorFullName" .Lpa.Donor.FullName }}
    </div>
  </div>
{{ end }}
