{{ template "page" . }}

{{ define "pageTitle" }}{{ tr .App "cookiesPolicyTitle" }}{{ end }}

{{ define "main" }}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{ tr .App "cookiesPolicyTitle" }}</h1>

            {{ trFormatHtml .App "cookiesPolicyContent" "PrivacyNoticeURL" (link .App (global.Paths.PrivacyNotice.Format)) }}
        </div>
    </div>
{{ end }}
