{{ template "page" . }}

{{ define "pageTitle" }}{{ tr .App "pageNotFound" }}{{ end }}

{{ define "main" }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ tr .App "pageNotFound" }}</h1>

      {{ trFormatHtml .App "pageNotFoundContent" "Start" (link .App global.Paths.Start.Format) }}
    </div>
  </div>
{{ end }}
