{{ template "page" . }}

{{ define "pageTitle" }}{{ tr .App "termsOfUseTitle" }}{{ end }}

{{ define "main" }}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{ tr .App "termsOfUseTitle" }}</h1>

            {{ trFormatHtml .App "termsOfUseContent" "LoginURL" (link .App global.Paths.Login.Format) }}
        </div>
    </div>
{{ end }}
