{{ template "page" . }}

{{ define "pageTitle" }}{{ tr .App "yourLegalRightsAndResponsibilities" }}{{ end }}

{{ define "main" }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ tr .App "yourLegalRightsAndResponsibilities" }}</h1>

      {{ trHtml .App "yourLegalRightsAndResponsibilitiesContent:property-and-affairs" }}
    </div>
  </div>
{{ end }}
