{{ template "page" . }}

{{ define "pageTitle" }}{{ tr .App "taskList" }}{{ end }}

{{ define "main" }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ tr .App "taskList" }}</h1>

      <p>TODO</p>
    </div>
  </div>
{{ end }}
