services:
  app:
    build:
      context: ..
      dockerfile: docker/mlpa/Dockerfile
      target: dev
      platforms:
        - "linux/amd64"
        - "linux/arm64"
    container_name: app-dev
    security_opt:
      - "seccomp:unconfined"
    volumes:
      - ../cmd:/app/cmd:rw,delegated
      - ../internal:/app/internal:rw,delegated
      - ../web/template:/app/web/template:rw,delegated
      - ../lang:/app/lang:rw,delegated
      - /cmd/mlpa/web/static
      - ../.air.toml:/app/.air.toml
    cap_add:
      - SYS_PTRACE
    ports:
      - "2345:2345"

  mock-pay:
    image: outofcoffee/imposter:latest
    container_name: mock-pay
    volumes:
      - ./mock-pay/:/opt/imposter/config/
