name: mrlpa
services:
  app:
    build:
      context: ..
      dockerfile: docker/mlpa/Dockerfile
      platforms:
        - linux/amd64
        - linux/arm64
    container_name: app
    depends_on:
      event-logger:
        condition: service_started
      localstack:
        condition: service_healthy
      mock-lpa-store:
        condition: service_started
      mock-onelogin:
        condition: service_started
      mock-pay:
        condition: service_started
      mock-os-api:
        condition: service_started
      mock-notify:
        condition: service_started
      mock-uid:
        condition: service_started
    restart: on-failure
    ports:
      - "5050:8080"
    environment:
      - APP_PORT=8080
      - APP_PUBLIC_URL=http://localhost:5050
      - ATTORNEY_START_URL=http://localhost:5050/attorney-start
      - AUTH_REDIRECT_BASE_URL=http://localhost:5050
      - AWS_ACCESS_KEY_ID=fakeKeyId
      - AWS_BASE_URL=http://localstack:4566
      - AWS_REGION=eu-west-1
      - AWS_SECRET_ACCESS_KEY=fakeAccessKey
      - CERTIFICATE_PROVIDER_START_URL=http://localhost:5050/certificate-provider-start
      - CLIENT_ID=client-id-value
      - DONOR_START_URL=http://localhost:5050/start
      - DEV_MODE=1
      - DYNAMODB_TABLE_LPAS=Lpas
      - DYNAMODB_TABLE_SESSIONS=Sessions
      - ENVIRONMENT=local
      - EVENT_BUS_NAME=default
      - GOVUK_NOTIFY_BASE_URL=http://mock-notify:8080
      - GOVUK_PAY_BASE_URL=http://mock-pay:8080
      - IDENTITY_URL=http://mock-onelogin:8080
      - ISSUER=http://mock-onelogin:8080
      - LPA_STORE_BASE_URL=http://mock-lpa-store:8080
      - LPA_STORE_SECRET_ARN=lpa-store-jwt-secret-key
      - ONELOGIN_URL=https://home.integration.account.gov.uk
      - ORDNANCE_SURVEY_BASE_URL=http://mock-os-api:8080
      - SCHEDULED_RUNNER_PERIOD=1m
      - S3_UPLOADS_KMS_KEY_ALIAS=alias/custom-key
      - SEARCH_ENDPOINT=http://my-domain.eu-west-1.opensearch.localhost.localstack.cloud:4566
      - SEARCH_INDEXING_DISABLED=0
      - SEARCH_INDEX_NAME=lpas
      - UID_BASE_URL=http://mock-uid:8080
      - UPLOADS_S3_BUCKET_NAME=evidence
      - USE_TEST_WITNESS_CODE=1

  event-logger:
    build:
      context: ..
      dockerfile: docker/event-logger/Dockerfile
    depends_on:
      - localstack
    container_name: event-logger
    ports:
      - "9001:8080"
    environment:
      - AWS_ACCESS_KEY_ID=fakeKeyId
      - AWS_BASE_URL=http://localstack:4566
      - AWS_REGION=eu-west-1
      - AWS_SECRET_ACCESS_KEY=fakeAccessKey

  localstack:
    build:
      context: ..
      dockerfile: docker/localstack/Dockerfile
      platforms:
        - linux/amd64
        - linux/arm64
    depends_on:
      opensearch:
        condition: service_healthy
    container_name: localstack
    ports:
      - "127.0.0.1:4566:4566"            # LocalStack Gateway
      - "127.0.0.1:4510-4559:4510-4559"  # external services port range
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    environment:
      - APP_PUBLIC_URL=http://localhost:5050
      - ATTORNEY_START_URL=http://localhost:5050/attorney-start
      - AWS_ACCESS_KEY_ID=fakeKeyId
      - AWS_BASE_URL=http://localstack:4566
      - AWS_REGION=eu-west-1
      - AWS_SECRET_ACCESS_KEY=fakeAccessKey
      - CERTIFICATE_PROVIDER_START_URL=http://localhost:5050/certificate-provider-start
      - DATA_DIR=/tmp/localstack/data
      - DEBUG=1
      - DOCKER_HOST=unix:///var/run/docker.sock
      - DONOR_START_URL=http://localhost:5050/start
      - EVENT_BUS_NAME=default
      - GOVUK_NOTIFY_BASE_URL=http://mock-notify:8080
      - LPA_STORE_BASE_URL=http://mock-lpa-store:8080
      - LPA_STORE_SECRET_ARN=lpa-store-jwt-secret-key
      - LPAS_TABLE=Lpas
      - METRICS_ENABLED=1
      - OPENSEARCH_CUSTOM_BACKEND=http://opensearch:9200
      - S3_UPLOADS_KMS_KEY_ALIAS=alias/custom-key
      - SEARCH_ENDPOINT=http://my-domain.eu-west-1.opensearch.localhost.localstack.cloud:4566
      - SEARCH_INDEXING_DISABLED=0
      - SEARCH_INDEX_NAME=lpas
      - SERVICES=s3,secretsmanager,sqs,dynamodb,events,kms,lambda,opensearch,scheduler,logs,cloudwatch
      - TAG=0.0.0
      - UID_BASE_URL=http://mock-uid:8080
      - UPLOAD_S3_BUCKET=evidence
      - XRAY_ENABLED=0
    networks:
      default:
        aliases:
          - my-domain.eu-west-1.opensearch.localhost.localstack.cloud

  opensearch:
    container_name: opensearch
    image: opensearchproject/opensearch:2.19.4@sha256:4f31f473cc452422deb6794cabdc4786cf90683eb2154b578c9ec33d30cea548
    environment:
      - node.name=opensearch
      - cluster.name=opensearch-docker-cluster
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
      - "DISABLE_SECURITY_PLUGIN=true"
    ports:
      - "9200:9200"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - data01:/usr/share/opensearch/data
#    To ensure opensearch is ready for localstack-init commands
    healthcheck:
      test: "curl --silent --fail localhost:9200/_cluster/health | grep 'cluster_name'"
      interval: 5s
      retries: 6
      timeout: 5s

  mock-lpa-store:
    image: outofcoffee/imposter:4.7.0@sha256:2a2f964e6ee7bea2f9a54eac6d976441351d0805833117fc2e45c541b8d58ae9
    volumes:
      - ./mock-lpa-store/:/opt/imposter/config/
    container_name: mock-lpa-store

  mock-onelogin:
    image: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/mock-onelogin:latest
    container_name: mock-onelogin
    ports:
      - "7012:8080"
    environment:
      - PUBLIC_URL=http://localhost:7012
      - CLIENT_ID=client-id-value
      - REDIRECT_URL=http://localhost:5050/auth/redirect
      - TEMPLATE_SUB=1
      - TEMPLATE_SUB_DEFAULT=random
      - TEMPLATE_RETURN_CODES=1

  mock-notify:
    build:
      context: ..
      dockerfile: docker/mock-notify/Dockerfile
    container_name: mock-notify

  mock-os-api:
    build:
      context: ..
      dockerfile: docker/mock-os-api/Dockerfile
    container_name: mock-os-api
    environment:
      - PORT=8080

  mock-pay:
    build:
      context: ..
      dockerfile: docker/mock-pay/Dockerfile
    container_name: mock-pay
    environment:
      - IMPOSTER_LOG_LEVEL=TRACE

  mock-uid:
    image: outofcoffee/imposter:4.7.0@sha256:2a2f964e6ee7bea2f9a54eac6d976441351d0805833117fc2e45c541b8d58ae9
    volumes:
      - ./mock-uid/:/opt/imposter/config/
    container_name: mock-uid

volumes:
  data01:
    driver: local
