{{ define "address-lines" }}
  {{ .Address.Line1 }}<br>
  {{ if .Address.Line2 }}{{ .Address.Line2 }}<br>{{end}}
  {{ if .Address.Line3 }}{{ .Address.Line3 }}<br>{{end}}
  {{ if .Address.TownOrCity }}{{ .Address.TownOrCity }}<br>{{end}}
  {{ if .Address.Postcode }}{{ .Address.Postcode }}<br>{{ end }}
  {{ if ne .Address.Country "GB" }}{{ tr .App (printf "country:%s" .Address.Country) }}{{ end }}
{{ end }}
