{{ define "continue-and-return-buttons" }}
  <div class="govuk-button-group">
    <button type="submit" class="govuk-button" data-module="govuk-button">{{ tr .App "continue" }}</button>
    <a href="{{ link .App (global.Paths.TaskList.Format .App.LpaID) }}" class="govuk-button govuk-button--secondary">{{ tr .App "returnToTaskList" }}</a>
  </div>
{{ end }}
