{{ define "defaulted-summary-row" }}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{{ tr .App .Label }}</dt>
        <dd class="govuk-summary-list__value">
            <div class="govuk-hint">{{ tr .App "defaultDecisionHasBeenSelected" }}</div>
            <p class="govuk-body">{{ .Value }}</p>
        </dd>
    </div>
{{ end }}
