{{ define "name-warning" }}
  {{ if .NameWarning }}
    {{ $warning := printf "%s %s" (.NameWarning.Format .App.Localizer) (tr .App "bySavingThisSectionDifferentPeople") }}
    {{ template "information-banner" (content .App $warning) }}

    <input type="hidden" name="ignore-name-warning" value="{{ .NameWarning.String }}" />
  {{ end }}
{{ end }}
