{{ define "name-warning" }}
  {{ if .NameWarning }}
    {{ template "information-banner" (content .App (.NameWarning.Format .App.Localizer)) }}

    <input type="hidden" name="ignore-name-warning" value="{{ .NameWarning.String }}" />
  {{ end }}
{{ end }}
