{{ define "warning" }}
    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">{{ tr .App "warning" }}</span>
            {{ if .Content }}{{ tr .App .Content }}{{ else }}{{ .HTML }}{{ end }}
        </strong>
    </div>
{{ end }}
