{{ template "page" . }}

{{ define "pageTitle" }}{{ end }}

{{ define "main" }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">TODO, but proof it works:</p>
      <p class="govuk-body">Donor is {{ .Lpa.You.FullName }}</p>
      <p class="govuk-body">Certificate provider is {{ .Lpa.CertificateProvider.FullName }}</p>
    </div>
  </div>
{{ end }}
