{{ template "page" . }}

{{ define "main" }}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{if .UserEmail}}
                <h1 class="govuk-heading-l">Welcome {{ .UserEmail }}</h1>
            {{else}}
                <h1 class="govuk-body">User not signed in</h1>
            {{end}}
        </div>
    </div>
{{ end }}
