{{ template "page" . }}

{{ define "main" }}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1>You have submitted your LPA</h1>
        </div>
    </div>
{{ end }}
