{{ template "page" . }}

{{ define "pageTitle" }}{{ tr .App "gettingHelpSigningYourLpa" }}{{ end }}

{{ define "main" }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ tr .App "gettingHelpSigningYourLpa" }}</h1>

      {{ trHtml .App "gettingHelpSigningYourLpaContent" }}

      {{ template "buttons" (button .App "continue" "link" (global.Paths.YourAuthorisedSignatory.Format .App.LpaID)) }}
    </div>
  </div>
{{ end }}
