/* Modernising Patterns */
@import "patterns/progress_bar";
@import "patterns/service_header";
@import "patterns/task_list";
@import "patterns/trans_switch";

.app-float-right {
    float: right;
}

body:not(.js-enabled) .govuk-back-link {
    display: none;
}
