/* Modernising Patterns */
@import "patterns/data_loss_warning";
@import "patterns/loading_spinner";
@import "patterns/progress_bar";
@import "patterns/service_header";
@import "patterns/stacked_summary_list";
@import "patterns/supporter-lpa-context";
@import "patterns/trans_switch";

@media print {
    .app-print-background {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background-image: url('/static/assets/images/draft-warning.svg');
        background-size: 100% 100%;
    }

    .app-hide-print {
        display: none !important;
    }

    .govuk-grid-column-two-thirds { width: 100% !important; }
}

.app-float-right {
    float: right;
}

body:not(.js-enabled) .govuk-back-link {
    display: none;
}

.app-example-box {
    @include govuk-responsive-padding(4);
    @include govuk-responsive-margin(6, "bottom");

    border: 1px solid $govuk-border-colour;
}

.app-dashboard-card {
    @include govuk-responsive-padding(4, "top");
    @include govuk-responsive-padding(4, "right");
    @include govuk-responsive-padding(4, "left");
    @include govuk-responsive-margin(4, "bottom");

    border: 1px solid $govuk-border-colour;

    &--dashed {
        border-style: dashed;
    }
}

.app-dashboard-row {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
        @include govuk-responsive-margin(2, "bottom");
    }

    @include govuk-media-query($until: tablet) {
        display: block !important;
    }
}

.app-tag {
    @extend .govuk-tag;
    max-width: none;
}

.app-tag--black {
    background: govuk-colour("black");
    color: govuk-colour("white");
}

.app-button-link {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: inherit;
    color: $govuk-link-colour;
}

.app-button-link:focus {
    outline: inherit;
}

.app-tabs-no-border .govuk-tabs__panel {
    border-left: none;
    border-bottom: none;
    border-right: none;
    padding-left: 0;
    padding-right: 0;
}

.app-summary-list--no-vertical-padding {
    .govuk-summary-list__key, .govuk-summary-list__value {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.app-summary-list--border-top {
    border-top: 1px solid $govuk-border-colour;
}

.app-service-header-caption {
    @include govuk-responsive-padding(1, "top");

    @include govuk-media-query($from: tablet) {
        @include govuk-responsive-padding(4, "bottom");
    }
    color: govuk-colour("black");
}

.app-padding-top-7-non-mobile {
     @include govuk-media-query($from: tablet) {
         @include govuk-responsive-padding(7, "top");
     }
}

.app-dark-grey {
    color: govuk-colour("dark-grey");
}

.app-red {
    color: govuk-colour("red") !important;
}

.app-justify-content-center {
    justify-content: center;
}

.app-full-width {
    max-width: 100% !important;
}

.app-wrap-text {
    white-space: pre-wrap;
}

// apply to elements that should be hidden when javascript is disabled
.js-only {
    display: none;
}

body.js-enabled .js-only {
    display: revert;
}

.app-08rem-font-size {
    font-size: .8rem;
}

.govuk-button + .moj-button-menu {
    margin-left: govuk-spacing(3);
}

.app-not-small-screen {
    display: none;
}

@include govuk-media-query($from: tablet) {
    .app-only-small-screen {
        display: none;
    }

    .app-not-small-screen {
        display: block;
    }
}

.app-unbold {
    font-weight: normal !important;
}

.app-signing-list {
    border-top: 1px solid $govuk-border-colour;
}
.app-signing-list .govuk-summary-list__key {
    font-weight: normal;
    width: 66%;
}
.app-signing-list .govuk-summary-list__value {
    text-align: right;
}
