/* Modernising Patterns */
@import "patterns/progress_bar";
@import "patterns/service_header";
@import "patterns/task_list";
@import "patterns/trans_switch";
@import "patterns/data_loss_warning";

.app-float-right {
    float: right;
}

body:not(.js-enabled) .govuk-back-link {
    display: none;
}

.app-example-box {
    @include govuk-responsive-padding(4);
    @include govuk-responsive-margin(6, "bottom");
    
    border: 1px solid $govuk-border-colour;
}
