{{ define "details" }}
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        {{ .top.L.T .name }}
      </span>
    </summary>
    <div class="govuk-details__text">
      {{ .top.L.HTML .detail }}
    </div>
  </details>
{{ end }}
