{{ define "dob-warning" }}
  {{ if .DobWarning }}
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        {{ tr .App .DobWarning }}
      </strong>
    </div>

    <input type="hidden" name="ignore-dob-warning" value="{{ .DobWarning }}" />
  {{ end }}
{{ end }}
