{{ define "error-message" }}
  {{ if .top.Errors.Has .name }}
    <p id="{{ .name }}-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> {{ tr .top.App (.top.Errors.Get .name) }}
    </p>
  {{ end }}
{{ end }}
