{{ template "supporter-page" . }}

{{ define "pageTitle" }}{{ tr .App "dashboard" }}{{ end }}

{{ define "main" }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ tr .App "dashboard" }}</h1>

      <a class="govuk-button" href="{{ link .App .App.Paths.Supporter.InviteMember.Format }}">{{ tr .App "inviteTeamMember" }}</a>
    </div>
  </div>
{{ end }}
