{{ template "page" . }}

{{ define "pageTitle" }}{{ tr .App "organisationDeleted" }}{{ end }}

{{ define "main" }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ template "notification-banner" (notificationBanner .App "organisationDeleted" (trFormatHtml .App "theOrganisationHasBeenDeleted" "OrganisationName" (.App.Query.Get "organisationName"))) }}
    </div>
  </div>
{{ end }}
