{{ template "page" . }}

{{ define "pageTitle" }}{{ tr .App "accessSuspended" }}{{ end }}

{{ define "main" }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ template "notification-banner" (notificationBanner .App "accessSuspended" (trFormatHtml .App "accessSuspendedContent" "OrganisationName" .OrganisationName)) }}
    </div>
  </div>
{{ end }}
