name: "[Job] check healthcheck endpoints"

on:
  workflow_call:
    inputs:
      base_url:
        description: 'Environment URL to target for testing'
        required: false
        type: string
        default: http://localhost:5050
      environment_config_json:
        description: 'Environment config JSON'
        required: false
        type: string
    secrets:
      ingress_management_oidc_role_arn:
        required: true
      github_access_token:
        description: 'Github Token'
        required: true


defaults:
  run:
    shell: bash

jobs:
  run_ui_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ inputs.checkout_tag }}
      - name: Manage Ingress/Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          role-to-assume: ${{ secrets.ingress_management_oidc_role_arn }}
          aws-region: eu-west-1
          role-duration-seconds: 900
          role-session-name: OPGModernisingLPATerraformGithubActionTestInfra
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.14'
          check-latest: true
      - run: pip install -r ./scripts/ci_ingress/requirements.txt
      - name: add_ingress
        run: python ./scripts/ci_ingress/ci_ingress.py ${{ inputs.environment_config_json}} --add
      - name: Check environment is available
        run: |
          service_response=$(curl --write-out %{http_code} --silent --output /dev/null ${{ inputs.base_url }}/health-check/service)
          [[ $service_response == 200 ]] || (echo "Error with service health check. HTTP status: ${service_response}" && exit 1)
          dependency_response=$(curl --write-out %{http_code} --silent --output /dev/null ${{ inputs.base_url }}/health-check/dependency)
          [[ $dependency_response == 200 ]] || (echo "Error with service health check. HTTP status: ${dependency_response}" && exit 1)
