name: "[Job] Detect changes to app"

on:
  workflow_call:
    outputs:
      changes_detected:
        description: "Boolean value for changes detected in /cmd, /cypress, /internal, /web, /lang or /lambda"
        value: ${{ jobs.compare_changes.outputs.changes_detected }}

jobs:
  compare_changes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.ref }}
          fetch-depth: 0 # Fetch all history for all tags and branches
      - name: Detect changes in /cmd, /cypress, /internal, /web, /lang or /lambda using git diff
        id: detect_changes
        if: github.ref != 'refs/heads/main'
        run: |
          BEFORE_STATUS=$(gh api repos/ministryofjustice/opg-modernising-lpa/commits/${{github.event.before}}/check-runs --jq '.check_runs[].conclusion' | grep -v -E '(success|skipped)' > /dev/null && echo 'failure' || echo 'success')
          echo "Build status of ${{github.event.before}}: $BEFORE_STATUS"
          if [[ "$BEFORE_STATUS" == "success" ]]; then
            echo "Checking against ${{github.event.before}}"
            (git diff --quiet ${{github.event.before}} ${{github.event.after}} -- cmd cypress internal lang web lambda docker/event-received docker/mlpa package.json yarn.lock go.mod && \
            echo "changes=${{ false }}" || \
            echo "changes=${{ true }}") | tee -a "${GITHUB_OUTPUT}"
          else
            echo "Checking against origin/main"
            (git diff --quiet HEAD origin/main -- cmd cypress internal lang web lambda docker/event-received docker/mlpa package.json yarn.lock go.mod && \
            echo "changes=${{ false }}" || \
            echo "changes=${{ true }}") | tee -a "${GITHUB_OUTPUT}"
          fi
        env:
          GH_TOKEN: ${{ github.token }}
    outputs:
      changes_detected: ${{ steps.detect_changes.outputs.changes }}

  notify_previous_build_will_be_deployed:
    needs: compare_changes
    if: needs.compare_changes.outputs.changes_detected == 'false'
    runs-on: ubuntu-latest
    steps:
      - name: Previous build on this branch will be deployed
        run: |
          echo '### No Changes Detected in /cmd, /cypress, /internal, /web, /lang or /lambda since the previous build!' >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY # this is a blank line
          echo "The previous build will be deployed and the following jobs will be skipped" >> $GITHUB_STEP_SUMMARY
          echo "- Create Tags" >> $GITHUB_STEP_SUMMARY
          echo "- Go Run Unit Tests" >> $GITHUB_STEP_SUMMARY
          echo "- Docker Build, Scan and Push to ECR" >> $GITHUB_STEP_SUMMARY
          echo "- Cypress Tests Against Docker Image" >> $GITHUB_STEP_SUMMARY
