name: "[WD] Change DNS Target Region"

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to update DNS target region for'
        required: true
        type: string
      region:
        description: 'AWS region to target'
        required: true
        default: 'eu-west-1'
        type: choice
        options:
        - eu-west-1
        - eu-west-2

permissions:
  id-token: write
  contents: write
  security-events: none
  pull-requests: none
  actions: none
  checks: none
  deployments: none
  issues: none
  packages: none
  repository-projects: none
  statuses: none

defaults:
  run:
    shell: bash

jobs:
  change_dns_target_region:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: unfor19/install-aws-cli-action@v1
      - name: Configure AWS credentials for dns target region parameter change
        uses: aws-actions/configure-aws-credentials@v4.0.2
        with:
          aws-region: us-east-1
          role-duration-seconds: 3600
          role-session-name: MLPABChangeDNSTargetRegionParameter
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}
          role-to-assume: ${{ secrets.DNS_TARGET_PARAMETER_UPDATE_ROLE }}
      - name: Change DNS target region for ${{ github.event.inputs.environment }}
        run: |
            aws ssm put-parameter --name "/modernising-lpa/dns-target-region/${{ github.event.inputs.environment }}" --type "String" --value "${{ github.event.inputs.region }}" --overwrite

      - name: Parse terraform version
        id: tf_version_setup
        working-directory: ./terraform/environment
        run: |
          if [ -f ./versions.tf ]; then
            terraform_version=$(cat ./versions.tf | ../../scripts/terraform-version.sh)
            echo "- Terraform version: [${terraform_version}]" >> $GITHUB_STEP_SUMMARY
            echo "TERRAFORM_VERSION=${terraform_version}" >> $GITHUB_OUTPUT
          fi
      - name: "Terraform version [${{ steps.tf_version_setup.outputs.TERRAFORM_VERSION }}]"
        run: echo "terraform version [${{ steps.tf_version_setup.outputs.TERRAFORM_VERSION }}]"
        working-directory: ./terraform/environment
      - uses: hashicorp/setup-terraform@v3.1.2
        with:
          terraform_version: ${{ steps.tf_version_setup.outputs.TERRAFORM_VERSION }}
          terraform_wrapper: false
      - name: Configure AWS Credentials For Terraform
        uses: aws-actions/configure-aws-credentials@v4.0.2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}
          aws-region: eu-west-1
          role-duration-seconds: 3600
          role-session-name: OPGModernisingLPATerraformGithubAction
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.OPG_MODERNISING_LPA_DEPLOY_KEY_PRIVATE_KEY }}
      - name: Terraform Init
        run: terraform init -input=false
        working-directory: ./terraform/environment
      - name: Terraform Apply DNS region target change for ${{ github.event.inputs.environment }}
        env:
          TF_WORKSPACE: ${{ github.event.inputs.environment }}
        run: |
          terraform apply -lock-timeout=300s  -input=false -auto-approve -target 'aws_route53_record.app'
        working-directory: ./terraform/environment
