name: "[Job] Lint markdown files"

on:
  workflow_call:

jobs:
  lint-markdown:
    name: Lint all markdown files
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - name: Lint markdown files
      uses: avto-dev/markdown-lint@04d43ee9191307b50935a753da3b775ab695eceb # v1
      with:
        config: './markdownlint.yaml'
        args: '**/*.md'
