name: "[Job] Run Go unit tests and Push coverage reports to Codecov"

on:
  workflow_call:
    inputs:
      tag:
        description: 'Tag for docker image'
        required: true
        type: string
      branch:
        description: 'The branch the workflow relates to'
        required: true
        type: string
      commit_sha:
        description: 'The commit SHA the workflow relates to'
        required: true
        type: string
    secrets:
      pact_broker_password:
        description: 'Password for central OPG pact broker'
        required: true
      codecov_token:
        description: 'Upload token for codecov'
        required: true

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: '^1.25'
          cache-dependency-path: '**/go.sum'
          cache: true

      - name: Download pact
        run: |
          go mod tidy
          go install github.com/pact-foundation/pact-go/v2
          mkdir -p ~/pact-lib
          pact-go -l DEBUG -d ~/pact-lib install

      - name: Run tests and generate coverage report
        run: |
          sudo mv ~/pact-lib/libpact_ffi.so /usr/local/lib
          go test -count=1 -short ./... -race -covermode=atomic -coverprofile=coverage.out

      - name: Publish pacts
        run: |
          docker run --rm -v $(pwd)/pacts:/tmp/pacts pactfoundation/pact-cli:latest \
            pact-broker publish /tmp/pacts \
            --consumer-app-version ${{ inputs.commit_sha }} \
            --branch ${{ inputs.branch }} \
            --tag ${{ inputs.tag }} \
            --broker-base-url https://pact-broker.api.opg.service.justice.gov.uk \
            --broker-username admin \
            --broker-password ${{ secrets.pact_broker_password }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          flags: unittests
          files: ./coverage.out
          token: ${{ secrets.codecov_token }}
