name: "[Job] Remove ingress"

on:
  workflow_call:
    inputs:
      environment_config_json:
        description: 'Environment config JSON'
        required: true
        type: string
    secrets:
      ingress_management_oidc_role_arn:
        required: true

defaults:
  run:
    shell: bash

jobs:
  remove_ingress:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: unfor19/install-aws-cli-action@f5b46b7f32cf5e7ebd652656c5036bf83dd1e60c # v1
        name: Run Against Image/aws-cli-action
      - name: Manage Ingress/Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: ${{ secrets.ingress_management_oidc_role_arn }}
          aws-region: eu-west-1
          role-duration-seconds: 900
          role-session-name: OPGModernisingLPATerraformGithubAction
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.14'
          check-latest: true
      - name: remove_ingress
        run: |
          pip install -r ./scripts/ci_ingress/requirements.txt
          python ./scripts/ci_ingress/ci_ingress.py ${{ inputs.environment_config_json }}
