name: "[Job] Remove ingress"

on:
  workflow_call:
    inputs:
      environment_config_json:
        description: 'Environment config JSON'
        required: true
        type: string
    secrets:
      aws_access_key_id:
        description: 'AWS Access Key ID'
        required: true
      aws_secret_access_key:
        description: 'AWS Secret Access Key'
        required: true

defaults:
  run:
    shell: bash

jobs:
  remove_ingress:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: unfor19/install-aws-cli-action@v1
        name: Run Against Image/aws-cli-action
      - name: Manage Ingress/Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4.0.2
        with:
          aws-access-key-id: ${{ secrets.aws_access_key_id }}
          aws-secret-access-key: ${{ secrets.aws_secret_access_key }}
          aws-region: eu-west-1
          role-duration-seconds: 900
          role-session-name: OPGModernisingLPATerraformGithubAction
      - uses: actions/setup-python@v5.1.1
        with:
          python-version: '3.9'
          check-latest: true
      - name: remove_ingress
        run: |
          pip install -r ./scripts/ci_ingress/requirements.txt
          python ./scripts/ci_ingress/ci_ingress.py ${{ inputs.environment_config_json }}
