on:
  workflow_call:
    inputs:
      changes_detected:
        description: 'Boolean value for changes detected in /app'
        required: true
        type: string
    outputs:
      version_tag:
        description: "Docker Image Tag"
        value: ${{ jobs.consolidate_tags.outputs.docker_tag }}
      environment_workspace_name:
        description: "Terraform Environment Workspace Name"
        value: ${{ jobs.generate_environment_workspace_name.outputs.environment_workspace_name }}

jobs:
  create_tags:
    if : inputs.changes_detected == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: '0'
      - name: Extract branch name
        id: extract_branch
        run: |
          if [ "$GITHUB_EVENT_NAME" == "push" ]; then
            echo BRANCH_NAME=main >> $GITHUB_ENV
          else
            branch=${{ github.head_ref }}
            branch=${branch//-}
            branch=${branch//_}
            branch=${branch//\/}
            echo BRANCH_NAME=${branch} >> $GITHUB_ENV
          fi
      - name: Bump version
        id: bump_version
        uses: anothrNick/github-tag-action@1.61.0
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          INITIAL_VERSION: 0.0.0
          DEFAULT_BUMP: minor
          PRERELEASE_SUFFIX: ${{ env.BRANCH_NAME }}
          RELEASE_BRANCHES: main
          WITH_V: true
          VERBOSE: true
    outputs:
      docker_tag: ${{ steps.bump_version.outputs.tag }}

  generate_environment_workspace_name:
    if: github.ref != 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Generate workspace name
        id: name_workspace
        run: |
          workspace=${{ github.event.number }}${{ github.head_ref }}
          workspace=${workspace//-}
          workspace=${workspace//_}
          workspace=${workspace//\/}
          workspace=${workspace:0:11}
          workspace=$(echo ${workspace} | tr '[:upper:]' '[:lower:]')
          echo "name=${workspace}" >> $GITHUB_OUTPUT
          echo ${workspace}
    outputs:
      environment_workspace_name: ${{ steps.name_workspace.outputs.name }}

  pull_tags:
    if : inputs.changes_detected == 'false'
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2.0.0
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::311462405659:role/modernising-lpa-github-actions-ssm-get-parameter
          role-duration-seconds: 900
          role-session-name: GithubActionsSSMGetParameter
      - name: Pull production environment tag
        id: pull_production_tag
        run: |
          value=$( aws ssm get-parameter --name '/modernising-lpa/container-version/production' | jq -r .Parameter.Value )
          echo ${value}
          echo "tag=${value}" >> $GITHUB_OUTPUT
    outputs:
      docker_tag: ${{ steps.pull_production_tag.outputs.tag }}

  consolidate_tags:
    needs: [
      create_tags,
      pull_tags,
      ]
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: consolidate tags
        id: consolidate_tags
        run: |
          if ${{inputs.changes_detected == 'false'}}; then
            echo "tag=${{needs.pull_tags.outputs.docker_tag}}" >> $GITHUB_OUTPUT
          else
            echo "tag=${{needs.create_tags.outputs.docker_tag}}" >> $GITHUB_OUTPUT
          fi
    outputs:
      docker_tag: ${{ steps.consolidate_tags.outputs.tag }}
