name: "[Job] Run UI tests"

on:
  workflow_call:
    inputs:
      base_url:
        description: 'Environment URL to target for testing'
        required: false
        type: string
        default: http://localhost:5050
      run_against_image:
        description: 'Target a docker compose service environment'
        required: true
        type: boolean
      tag:
        description: 'Tag for docker image'
        required: false
        type: string
        default: latest
      checkout_tag:
        description: 'Ref or tag to checkout'
        default: ${{ github.ref }}
        required: false
        type: string
      skip:
        description: 'Should running all tests be skipped'
        required: false
        default: false
        type: boolean
      environment_config_json:
        description: 'Environment config JSON'
        required: false
        type: string
      specs:
        description: 'A list of cypress specs, directories or globs containing specs to run in format "filepath filepath"'
        required: true
        type: string
      dev_mode:
        description: 'The value of the app environment variable DEV_MODE'
        required: false
        type: string
    secrets:
      cypress_record_key:
        description: 'Cypress Record Key'
        required: true
      github_access_token:
        description: 'Github Token'
        required: true
      test_onelogin_basic_auth:
        description: 'Test OneLogin basic auth'
        required: false
      test_onelogin_totp_key:
        description: 'Test OneLogin totp key'
        required: false
      test_onelogin_password:
        description: 'Test OneLogin password'
        required: false
      ingress_management_oidc_role_arn:
        required: true
defaults:
  run:
    shell: bash

jobs:
  run_ui_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: ${{ inputs.checkout_tag }}
      - uses: unfor19/install-aws-cli-action@f5b46b7f32cf5e7ebd652656c5036bf83dd1e60c # v1
        name: Run Against Image/aws-cli-action
        if: inputs.run_against_image
      - name: Run Against Image/Configure AWS Credentials
        if: inputs.run_against_image
        uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # v4.3.1
        with:
          aws-region: eu-west-1
          role-to-assume: arn:aws:iam::311462405659:role/modernising-lpa-github-actions-ecr-pull
          role-duration-seconds: 900
          role-session-name: GithubActionsECRPullMLPAB
      - name: Run Against Image/ECR Login
        if: inputs.run_against_image
        id: login_ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1
        with:
          mask-password: true
          registries: 311462405659
      - name: Run Against Image/Run Docker Compose Service
        if: inputs.run_against_image
        env:
          ECR_REGISTRY: ${{ steps.login_ecr.outputs.registry }}
          TAG: ${{ inputs.tag }}
        run: |
          docker compose -f docker/docker-compose.yml -f docker/docker-compose.ci.yml pull
          docker compose -f docker/docker-compose.yml -f docker/docker-compose.ci.yml up -d --wait

      - name: Manage Ingress/Configure AWS Credentials
        if: inputs.run_against_image != true
        uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # v4.3.1
        with:
          role-to-assume: ${{ secrets.ingress_management_oidc_role_arn }}
          aws-region: eu-west-1
          role-duration-seconds: 900
          role-session-name: ManageIngress
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        if: inputs.run_against_image != true
        with:
          python-version: '3.14'
          check-latest: true
      - run: pip install -r ./scripts/ci_ingress/requirements.txt
        if: inputs.run_against_image != true
      - name: add_ingress
        if: inputs.run_against_image != true
        run: python ./scripts/ci_ingress/ci_ingress.py ${{ inputs.environment_config_json}} --add

      - name: Setup node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        if: inputs.skip != true
        with:
          node-version-file: "package.json"

      - name: Install dependencies
        if: inputs.skip != true
        run: npm install --frozen-lockfile --omit=optional

      - name: Cypress run
        if: inputs.skip != true
        env:
          CYPRESS_baseUrl: ${{ inputs.base_url }}
          CYPRESS_RECORD_KEY: ${{ secrets.cypress_record_key }}
          CYPRESS_TEST_ONELOGIN_BASIC_AUTH: ${{ secrets.test_onelogin_basic_auth }}
          CYPRESS_TEST_ONELOGIN_TOTP_KEY: ${{ secrets.test_onelogin_totp_key }}
          CYPRESS_TEST_ONELOGIN_PASSWORD: ${{ secrets.test_onelogin_password }}
          GITHUB_TOKEN: ${{ secrets.github_access_token }}
        run:
          npm run cypress:parallel-with-specs -- --spec ${{ inputs.specs }} ${{ inputs.dev_mode != '1' && '--env grepTags=-@dev,grepFilterSpecs=true' || '' }}

      - name: Persist Cypress failure screenshots as artifacts
        if: failure()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: cypress-failure-screenshots
          path: ./cypress/screenshots/

      - name: Stop Docker Compose Service
        if: always()
        run:
          docker compose -f docker/docker-compose.yml -f docker/docker-compose.ci.yml down
